{% comment %}
  Renders product variant-picker

  Accepts:
  - product: {Object} product object.
  - block: {Object} passing the block information.
  - product_form_id: {String} Id of the product form to which the variant picker is associated.
  Usage:
  {% render 'product-variant-picker', product: product, block: block, product_form_id: product_form_id %}
{% endcomment %}
<style>
  variant-selects#variant-selects-{{ section.id }} + variant-selects{
    display: none !important;
  }

  .size-guide-label{
    font-size:12px;
    line-height:15px;
  }

  .template-product\.accessories variant-selects {
    display: none;
  }
</style>

{% comment %} {%- unless product.has_only_default_variant -%} {% endcomment %}
  <variant-selects
    id="variant-selects-{{ section.id }}"
    data-section="{{ section.id }}"
    {{ block.shopify_attributes }}  
  >
    {%- for option in product.options_with_values -%}
      {% assign opt_index = forloop.index0 %}
      {%- liquid
        assign swatch_count = option.values | map: 'swatch' | compact | size
        assign picker_type = block.settings.picker_type

        if swatch_count > 0 and block.settings.swatch_shape != 'none'
          if block.settings.picker_type == 'dropdown'
            assign picker_type = 'swatch_dropdown'
          else
            assign picker_type = 'swatch'
          endif
        endif
      -%}
      {%- if picker_type == 'swatch' -%}
        <fieldset class="js product-form__input product-form__input--swatch">
          <legend class="form__label">
            {{ option.name }}:
            <span data-selected-value>
              {{- option.selected_value -}}
            </span>
          </legend>
          {% render 'product-variant-options',
            product: product,
            option: option,
            block: block,
            picker_type: picker_type,
            option_index: opt_index
          %}
        </fieldset>
      {%- elsif picker_type == 'button' -%}
        {% if option.name != "Title" %}
        <fieldset class="js product-form__input product-form__input--pill kjmnhbgfvcd{% if option.name == 'Select your size (in UK)' or option.name == 'Size' %} size_variant{% endif %}"{% if option.name == "Select your size (in UK)" or option.name == "Size" or option.name == "Select your size" %} style="display: none !important;"{% endif %}>
          <legend class="form__label">
            
            {%- if option.name == 'Choose color variant' -%}{{ option.name | replace: 'Choose color variant', 'Colour' }}{% elsif option.name == 'Select your size (in UK)' or option.name == 'Size' or option.name == 'Select your size' %}Size{% else %}{{ option.name }}{% endif %}
            {% if option.name == 'Choose color variant' %} / {% endif %}
            <span class="variant_title" {%- if option.name != 'Choose color variant' -%} style="display: none;"{% endif %}>{{ option.selected_value }}</span>
            {%- if option.name == 'Select your size (in UK)' or option.name == 'Size' -%}
              <span class="size_var is_selected" data-icon="uk">UK</span>
              <span class="size_var" data-icon="eu">EU</span>
              <span class="size_var" data-icon="us">US</span>{% endif %}
          </legend>
          {% render 'product-variant-options',
            product: product,
            option: option,
            block: block,
            picker_type: picker_type,
            option_index: opt_index
          %}
        </fieldset>
        {%- endif -%}
    {%- else -%}
        <div class="product-form__input product-form__input--dropdown">
          <label class="form__label" for="Option-{{ section.id }}-{{ forloop.index0 }}">
            {{ option.name }}
          </label>
          <div class="select">
            {%- if picker_type == 'swatch_dropdown' -%}
              <span
                data-selected-value
                class="dropdown-swatch"
              >
                {% render 'swatch', swatch: option.selected_value.swatch, shape: block.settings.swatch_shape %}
              </span>
            {%- endif -%}
            <select
              id="Option-{{ section.id }}-{{ forloop.index0 }}"
              class="select__select"
              name="options[{{ option.name | escape }}]"
              form="{{ product_form_id }}"
            >
              {% render 'product-variant-options',
                product: product,
                option: option,
                block: block,
                picker_type: picker_type
              %}
            </select>
            {% render 'icon-caret' %}
          </div>
        </div>
      {%- endif -%}
    {%- endfor -%}

    <script type="application/json" data-selected-variant>{{ product.selected_or_first_available_variant | json }}</script>
  </variant-selects>

{% if product.title == 'Sliders' or product.title == 'Sliders 2.0' %}
  <div class="sliders-tab">
    <button class="slider-tab-btn active" data-tab="all">All</button>
    <button class="slider-tab-btn" data-tab="slider">Slider 2.0</button>
  </div>
{% endif %}

  <div class="custom_variants">
<div class="custom-variant-product {% if product.title == 'Sliders' or product.title == 'Sliders 2.0' %}slider-tab-content active {% endif %}" {% if product.title == 'Sliders' or product.title == 'Sliders 2.0' %}id="tab-all" {% endif %}>
      {% if template != 'product.accessories' %}
      <p>Color / <span> {{ product.metafields.custom.product_color_name }}</span></p>
      {% else %}
      <p><span> {{ product.metafields.custom.product_color_name }}</span></p>
      {% endif %}
        <div class="custom-variant-image">
          {% assign paired_products = product.metafields.custom.pair_with_product %}
          {% for pair_product in product.metafields.custom.pair_with_product.value %}
            {% if pair_product.handle == product.handle %}
              <a href="" class="selected">
                {% if product.title == "Re : Worked Bundle" %}
                  <div class="custom-variant-image-color" style="background-color:{{ pair_product.metafields.custom.hexa_code.value }}"></div>
                {% else %}
                   <img src="{{ pair_product.featured_image | img_url:'master' }}">
                {% endif %}
              </a>
            {% else %}
              <!-- Otherwise, link to the pair_product's URL -->
              <a href="{{ pair_product.url }}">
                {% if product.title == 'Sliders' or product.title == 'Sliders 2.0' %}
                 {% if pair_product.metafields.custom.new_product == true %} 
                    <div class="new-product-dot"></div> 
                  {% endif %}
                {% endif %}
                {% if product.title == "Re : Worked Bundle" %}
                  <div class="custom-variant-image-color" style="background-color:{{ pair_product.metafields.custom.hexa_code.value }}"></div>
                {% else %}
                   <img src="{{ pair_product.featured_image | img_url:'master' }}">
                {% endif %}
                </a>
            {% endif %}
          {% endfor %}
        </div>
      </div>

      {% if product.title == 'Sliders' or product.title == 'Sliders 2.0' %}
      <div class="custom-variant-product slider-tab-content" id="tab-slider">
        <p>Color / <span> {{ product.metafields.custom.product_color_name }}</span></p>
         <div class="custom-variant-image">
          {% assign slider_product = product.metafields.custom.sliders_2_0_products %}
          {% for slider_product in product.metafields.custom.sliders_2_0_products.value %}
            {% if slider_product.handle == product.handle %}
              <a href="" class="selected">
                <img src="{{ slider_product.featured_image | img_url:'master' }}">
              </a>
            {% else %}
              <a href="{{ slider_product.url }}">
                {% if product.title == 'Sliders' or product.title == 'Sliders 2.0' %}
                 {% if slider_product.metafields.custom.new_product == true %} 
                    <div class="new-product-dot"></div> 
                  {% endif %}
                {% endif %}
                <img src="{{ slider_product.featured_image | img_url:'master' }}">
                </a>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      {% endif %}



    {%- for option in product.options_with_values -%}
      {% if option.name == 'Select your size (in UK)' or option.name == 'Size' or option.name == 'Select your size' %}
        {% assign opt_index = forloop.index0 %}
        {%- liquid
          assign swatch_count = option.values | map: 'swatch' | compact | size
          assign picker_type = block.settings.picker_type

          if swatch_count > 0 and block.settings.swatch_shape != 'none'
            if block.settings.picker_type == 'dropdown'
              assign picker_type = 'swatch_dropdown'
            else
              assign picker_type = 'swatch'
            endif
          endif
        -%}
          <fieldset class="js product-form__input product-form__input--pill tttttttt{% if option.name == 'Select your size (in UK)' or option.name == 'Size'  %} size_variant{% endif %}">
            <div class="varaint-size-header" style="display:flex;justify-content:space-between">
            <!-- <legend class="form__label">{{ option.name }}{% if option.name == 'Choose color variant' %} / {% endif %}<span class="variant_title"{%- if option.name != 'Choose color variant' -%} style="display: none;"{% endif %}>{{ option.selected_value }}</span>{%- if option.name == 'Select your size (in UK)' or option.name == 'Size' -%}<span class="size_var is_selected" data-icon="uk">UK</span><span class="size_var" data-icon="eu">EU</span><span class="size_var" data-icon="us">US</span>{% endif %}</legend> -->
            <legend class="form__label">
              {%- if option.name == 'Choose color variant' -%}{{ option.name | replace: 'Choose color variant', 'Colour' }}{% elsif option.name == 'Select your size (in UK)' or option.name == 'Size' or option.name == 'Select your size' %}Size{% else %}{{ option.name }}{% endif %}
              {% if option.name == 'Choose color variant' %} / {% endif %}
              <span class="variant_title"
              {%- if option.name != 'Choose color variant' -%} style="display: none;"{% endif %}>{{ option.selected_value }}</span>
              {%- if option.name == 'Select your size (in UK)' or option.name == 'Size' -%}
                <span class="size_var is_selected" data-icon="uk">UK</span>
                <span class="size_var" data-icon="eu">EU</span>
                <span class="size_var" data-icon="us">US</span>{% endif %}
            </legend>
            <div id="openPopupBtn" style="min-width:90px;cursor:pointer;font-size:12px;line-height:17.1px;letter-spacing: -0.36px;color:#939598;font-weight: bold;text-align:end;">Size Guide</div>
              {%- if template == 'product.fw-product' and product.title == 'Circuit Shirt' -%}
                <div class="fw_sizeguidePopupBtn"
                  style="min-width:90px;cursor:pointer;font-size:10px;line-height:12px;color:#1a1a1a;font-weight: bold;text-align:end;letter-spacing: -0.5px;">
                  Size Guide</div>
              {%- endif -%}
            </div>
            {%- if option.name == 'Select your size' -%}
                {% render 'product-variant-options',
                product: product,
                option: option,
                block: block,
                picker_type: picker_type,
                option_index: opt_index,
                change_option_name: true
              %}
            {% endif %}
            {% if option.name == "Select your size (in UK)" or option.name == "Size" %}
              {%- liquid
                assign ne_product_form_id = 'product-form-' | append: section.id
              -%}
              <div class="default_variant_uk is_tab_active" data-con='uk'>
                {% render 'product-variant-options',
                  product: product,
                  option: option,
                  block: block,
                  picker_type: picker_type,
                  option_index: opt_index,
                  change_option_name: true,
                  popup: popup
                %}
              </div>
              <div class="default_variant_uk" data-con='us'>
                  {%- assign opt = option.name -%}
                  {%- if opt == 'Select your size (in UK)' or opt == 'Size' -%}
                      {% assign values = '' %}
                      {% for variant in product.variants %}
                      {% assign value = variant.options[opt_index] %}
                      {% unless values contains value %}
                      {% assign values = values | join: ',' %}
                      {% assign values = values | append: ',' | append: value %} 
                      {% assign values = values | split: ',' %}
                        {% assign option_disabled = true %}
                        {% if value.available %}
                          {% assign option_disabled = false %}
                        {% endif %}
                        <input
                          type="radio"
                          id="custom_{{ section.id }}-{{ option.position }}-{{ forloop.index0 -}}-us"
                          name="custom_{{ option.name }}-{{ option.position }}-us"
                          value="{{ value | escape }}"
                          form="{{ ne_product_form_id }}"
                          {% if value.selected %}
                            checked
                          {% endif %}
                          {% if option_disabled %}
                            class="disabled"
                          {% endif %}
                          {% if product.metafields.custom.pre_book %}
                            class="pre_book"
                          {% endif %}
                          {{ input_dataset }}
                        >
                        <label for="custom_{{ section.id }}-{{ option.position }}-{{ forloop.index0 -}}-us"{% if variant.metafields.custom.us_variant == blank %} style="display: none;"{% endif %}>
                          {{ variant.metafields.custom.us_variant }}
                          {{ label_unavailable }}
                        </label>
                      {% endunless %}
                      {% endfor %}
                  {%- endif -%}
                
              </div>
              <div class="default_variant_uk" data-con='eu'>
                  {% comment %} {% assign option_disabled = true %}
                  {% if value.available %}
                    {% assign option_disabled = false %}
                  {% endif %} {% endcomment %}
                  {%- assign opt = option.name -%}
                  {%- if opt == 'Select your size (in UK)' or opt == 'Size' -%}
                      {% assign values = '' %}
                      {% for variant in product.variants %}
                      {% assign value = variant.options[opt_index] %}
                      {% unless values contains value %}
                      {% assign values = values | join: ',' %}
                      {% assign values = values | append: ',' | append: value %} 
                      {% assign values = values | split: ',' %}
                      
                      {% assign option_disabled = true %}
                        {% if value.available %}
                          {% assign option_disabled = false %}
                        {% endif %}
                        <input
                    type="radio"
                    id="custom_{{ section.id }}-{{ option.position }}-{{ forloop.index0 -}}-eu"
                    name="custom_{{ option.name }}-{{ option.position }}-eu"
                    value="{{ value | escape }}"
                    form="{{ ne_product_form_id }}"
                    {% if value.selected %}
                      checked
                    {% endif %}
                    {% if option_disabled %}
                      class="disabled"
                    {% endif %}
                    {% if product.metafields.custom.pre_book %}
                      class="pre_book"
                    {% endif %}
                    {{ input_dataset }}
                  >
                        <label for="custom_{{ section.id }}-{{ option.position }}-{{ forloop.index0 -}}-eu"{% if variant.metafields.custom.eu_variant == blank %} style="display: none;"{% endif %}>
                          {{ variant.metafields.custom.eu_variant }}
                          {{ label_unavailable }}
                        </label>
                      {% endunless %}
                      {% endfor %}
                  {%- endif -%}
                
              </div>
            {% endif %}

           
          </fieldset>
          {% comment %} <div class="main-reserve">
          {% if product.id == 9672026095920 %}
            {% assign option_disabled = false %}
        
            {% for variant in product.variants %}
              {% unless variant.available %}
                {% assign option_disabled = true %}
              {% endunless %}
            {% endfor %}
        
            {% if option_disabled %}
              <a href="" class="reserve-btn">Reserve @ ₹99</a>
            {% endif %}
          {% endif %}
        </div> {% endcomment %}
        </div>
        <div id="cspopupModal" class="csmodal">
          <div class="csmodal-content">
            <div style="" class="csmodal-heading">
              <span class="size-guide-label">Size Guide</span>
              <span class="close-btn">&times;</span>
            </div>
            <div class="cs-modal-inner-content">
              {% if product.metafields.custom.size_chart_table_image != blank %}
                <img
                src="{{ product.metafields.custom.size_chart_table_image | image_url:width:600 }}"
                srcset="{{ product.metafields.custom.size_chart_table_image | image_url:width:400 }} 1x, {{ product.metafields.custom.size_chart_table_image | image_url:width:800 }} 2x"
                loading="lazy"
                alt="{{ product.title }}"
                style="max-width:100%;aspect-ratio:1.25/1;object-fit:cover"
                width=""
                height=""
              >
              {% else %}
              <img
                src="{{ product.featured_image | image_url:width:600 }}"
                srcset="{{ product.featured_image | image_url:width:400 }} 1x, {{ product.featured_image | image_url:width:800 }} 2x"
                loading="lazy"
                alt="{{ product.title }}"
                style="max-width:100%;aspect-ratio:1.25/1;object-fit:cover"
                width=""
                height=""
              >
              {% endif %}
                <div class="cs-table">
                  {% if request.path contains 'sliders' %}
                  <div class="slider-note">
                    <p>*This footwear runs a size bigger, so we recommend taking one size down from your regular size.</p>
                  </div>
                  {% endif %}
                  {% if request.path contains 'weekend-shirt' %}
                  <div class="slider-note">
                    <p>*This shirt runs a size bigger, so we recommend taking one size down from your regular size.</p>
                  </div>
                  {% endif %}
                  {{ product.metafields.custom.size_chart_table }}
                </div>
            </div>
          </div>
        </div>
        
        {% endif %}
      {%- endfor -%}
{% comment %} {%- endunless -%} {% endcomment %}


<script>
 // document.addEventListener("DOMContentLoaded", function() {
   // const tabs = document.querySelectorAll(".slider-tab-btn");
   // const contents = document.querySelectorAll(".slider-tab-content");

  //  tabs.forEach(tab => {
  //    tab.addEventListener("click", function() {
    //    // Remove active from all
      //  tabs.forEach(t => t.classList.remove("active"));
        //contents.forEach(c => c.classList.remove("active"));

        // Add active to clicked
    //    this.classList.add("active");
   //     document.getElementById("tab-" + this.dataset.tab).classList.add("active");
    //  });
   // });
 // });

</script>


{% comment %} Active toggle tab shows first and remains active if pages changes or reloads {% endcomment %}
<script>
document.addEventListener('DOMContentLoaded', function () {
  const tabsContainer = document.querySelector('.sliders-tab');
  if (!tabsContainer) return;

  // 🔑 Global storage key (not per product)
  const storageKey = 'lastActiveSliderTab';

  const tabs = Array.from(tabsContainer.querySelectorAll('.slider-tab-btn'));
  const contents = Array.from(document.querySelectorAll('.slider-tab-content'));

  function clearActive() {
    tabs.forEach(t => t.classList.remove('active'));
    contents.forEach(c => c.classList.remove('active'));
  }

  function activateTab(tabName, moveFirst = true) {
    const btn = tabs.find(t => t.dataset.tab === tabName);
    const content = document.getElementById('tab-' + tabName);
    if (!btn || !content) return;

    clearActive();

    // Move active tab button to first position
    if (moveFirst && tabsContainer.firstElementChild !== btn) {
      tabsContainer.insertBefore(btn, tabsContainer.firstElementChild);
    }

    btn.classList.add('active');
    content.classList.add('active');

    // Save globally
    localStorage.setItem(storageKey, tabName);
  }

  // 🔹 On page load: restore last saved tab globally
  const savedTab = localStorage.getItem(storageKey);
  if (savedTab && tabs.some(t => t.dataset.tab === savedTab)) {
    activateTab(savedTab, true);
  } else if (tabs[0]) {
    // Default = first tab in markup
    activateTab(tabs[0].dataset.tab, false);
  }

  // 🔹 On click: activate + save
  tabs.forEach(tab => {
    tab.addEventListener('click', function () {
      activateTab(this.dataset.tab, true);
    });
  });
});
</script>

