{% comment %}
  Renders product variant-picker

  Accepts:
  - product: {Object} product object.
  - block: {Object} passing the block information.
  - product_form_id: {String} Id of the product form to which the variant picker is associated.
  Usage:
  {% render 'product-variant-picker', product: product, block: block, product_form_id: product_form_id %}
{% endcomment %}
<style>
  variant-selects#variant-selects-{{ section.id }} + variant-selects{
    display: none !important;
  }

  .template-product\.accessories variant-selects {
    display: none;
  }
</style>

{% comment %} {%- unless product.has_only_default_variant -%} {% endcomment %}
  <variant-selects
    id="variant-selects-{{ section.id }}"
    data-section="{{ section.id }}"
    {{ block.shopify_attributes }}  
  >
    {%- for option in product.options_with_values -%}
      {% assign opt_index = forloop.index0 %}
      {%- liquid
        assign swatch_count = option.values | map: 'swatch' | compact | size
        assign picker_type = block.settings.picker_type

        if swatch_count > 0 and block.settings.swatch_shape != 'none'
          if block.settings.picker_type == 'dropdown'
            assign picker_type = 'swatch_dropdown'
          else
            assign picker_type = 'swatch'
          endif
        endif
      -%}
      {%- if picker_type == 'swatch' -%}
        <fieldset class="js product-form__input product-form__input--swatch">
          <legend class="form__label">
            {{ option.name }}:
            <span data-selected-value>
              {{- option.selected_value -}}
            </span>
          </legend>
          {% render 'product-variant-options',
            product: product,
            option: option,
            block: block,
            picker_type: picker_type,
            option_index: opt_index
          %}
        </fieldset>
      {%- elsif picker_type == 'button' -%}
        {% if option.name != "Title" %}
        <fieldset class="js product-form__input product-form__input--pill kjmnhbgfvcd{% if option.name == 'Select your size (in UK)' or option.name == 'Size' %} size_variant{% endif %}"{% if option.name == "Select your size (in UK)" or option.name == "Size" or option.name == "Select your size" %} style="display: none !important;"{% endif %}>
          <legend class="form__label">
            
            {%- if option.name == 'Choose color variant' -%}{{ option.name | replace: 'Choose color variant', 'Colour' }}{% elsif option.name == 'Select your size (in UK)' or option.name == 'Size' or option.name == 'Select your size' %}Size{% else %}{{ option.name }}{% endif %}
            {% if option.name == 'Choose color variant' %} / {% endif %}
            <span class="variant_title" {%- if option.name != 'Choose color variant' -%} style="display: none;"{% endif %}>{{ option.selected_value }}</span>
            {%- if option.name == 'Select your size (in UK)' or option.name == 'Size' -%}
              <span class="size_var is_selected" data-icon="uk">UK</span>
              <span class="size_var" data-icon="eu">EU</span>
              <span class="size_var" data-icon="us">US</span>{% endif %}
          </legend>
          {% render 'product-variant-options',
            product: product,
            option: option,
            block: block,
            picker_type: picker_type,
            option_index: opt_index
          %}
        </fieldset>
        {%- endif -%}
    {%- else -%}
        <div class="product-form__input product-form__input--dropdown">
          <label class="form__label" for="Option-{{ section.id }}-{{ forloop.index0 }}">
            {{ option.name }}
          </label>
          <div class="select">
            {%- if picker_type == 'swatch_dropdown' -%}
              <span
                data-selected-value
                class="dropdown-swatch"
              >
                {% render 'swatch', swatch: option.selected_value.swatch, shape: block.settings.swatch_shape %}
              </span>
            {%- endif -%}
            <select
              id="Option-{{ section.id }}-{{ forloop.index0 }}"
              class="select__select"
              name="options[{{ option.name | escape }}]"
              form="{{ product_form_id }}"
            >
              {% render 'product-variant-options',
                product: product,
                option: option,
                block: block,
                picker_type: picker_type
              %}
            </select>
            {% render 'icon-caret' %}
          </div>
        </div>
      {%- endif -%}
    {%- endfor -%}

    <script type="application/json" data-selected-variant>{{ product.selected_or_first_available_variant | json }}</script>
  </variant-selects>

{% comment %} {% if product.title == 'Sliders' or product.title == 'Sliders 2.0' %}
  <div class="sliders-tab">
    <button class="slider-tab-btn active" data-tab="all">All</button>
    <button class="slider-tab-btn" data-tab="slider">Slider 2.0</button>
  </div>
{% endif %} {% endcomment %}

    <div class="custom_variants">

      {% comment %} {% if product.title == 'Sliders' or product.title == 'Sliders 2.0' %}
        <div class="custom-variant-product slider-tab-content hggh" id="tab-slider">
          <p>Slider 2.0 Color / <span> {{ product.metafields.custom.product_color_name }}</span></p>
          <div class="custom-variant-image">
            {% assign slider_product = product.metafields.custom.sliders_2_0_products %}
            {% for slider_product in product.metafields.custom.sliders_2_0_products.value %}
              {% if slider_product.handle == product.handle %}
                <a href="" class="selected" data-color-name="{{ slider_product.metafields.custom.product_color_name }}">
                  <img src="{{ slider_product.featured_image | img_url:'master' }}">
                </a>
              {% else %}
                <a href="{{ slider_product.url }}" data-color-name="{{ slider_product.metafields.custom.product_color_name }}">
                  {% if product.title == 'Sliders' or product.title == 'Sliders 2.0' %}
                  {% if slider_product.metafields.custom.new_product == true %} 
                      <div class="new-product-dot"></div> 
                    {% endif %}
                  {% endif %}
                  <img src="{{ slider_product.featured_image | img_url:'master' }}">
                  </a>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      {% endif %} {% endcomment %}

      {% if product.title == 'Sliders' or product.title == 'Sliders 2.0' %}
        <div class="custom-variant-product slider-tab-content hggh" id="tab-slider">

          {% assign slider_products = product.metafields.custom.sliders_2_0_products.value %}

          {% for slider_product in slider_products %}
            {% if slider_product.handle == product.handle %}
              <p>
                Slider 2.0 Color / 
                <span>{{ slider_product.metafields.custom.product_color_name }}</span>
              </p>
              {% break %}
            {% endif %}
          {% endfor %}

          <div class="custom-variant-image">
            {% for slider_product in slider_products %}
              {% if slider_product.handle == product.handle %}
                <a href=""
                  class="selected"
                  data-color-name="{{ slider_product.metafields.custom.product_color_name }}">
                  <img src="{{ slider_product.featured_image | img_url:'master' }}">
                </a>
              {% else %}
                <a href="{{ slider_product.url }}"
                  data-color-name="{{ slider_product.metafields.custom.product_color_name }}">

                  {% if slider_product.metafields.custom.new_product == true %}
                    <div class="new-product-dot"></div>
                  {% endif %}

                  <img src="{{ slider_product.featured_image | img_url:'master' }}">
                </a>
              {% endif %}
            {% endfor %}
          </div>

        </div>
      {% endif %}

      <div class="custom-variant-product {% if product.title == 'Sliders' or product.title == 'Sliders 2.0' %}slider-tab-content {% endif %}" {% if product.title == 'Sliders' or product.title == 'Sliders 2.0' %}id="tab-all" {% endif %}>
        {% if template != 'product.accessories' %}
          {% if product.title == 'Sliders' or product.title == 'Sliders 2.0' %}
        <p>Slider Color / <span> {{ product.metafields.custom.product_color_name }}</span></p>
          {% else %}
        <p>Color / <span> {{ product.metafields.custom.product_color_name }}</span></p>
          {% endif %}
        {% else %}
        <p><span> {{ product.metafields.custom.product_color_name }}</span></p>
        {% endif %} 
        <div class="custom-variant-image">
          {% assign paired_products = product.metafields.custom.pair_with_product %}
          {% for pair_product in product.metafields.custom.pair_with_product.value %}
            {% if pair_product.handle == product.handle %}
              <a href="" class="selected" data-color-name="{{ pair_product.metafields.custom.product_color_name }}">
                {% if product.title == "Re : Worked Bundle" %}
                  <div class="custom-variant-image-color" style="background-color:{{ pair_product.metafields.custom.hexa_code.value }}"></div>
                {% else %}
                   <img src="{{ pair_product.featured_image | img_url:'master' }}">
                {% endif %}
              </a>
            {% else %}
              <!-- Otherwise, link to the pair_product's URL -->
              <a href="{{ pair_product.url }}" data-color-name="{{ pair_product.metafields.custom.product_color_name }}">
                {% if product.title == 'Sliders' or product.title == 'Sliders 2.0' %}
                 {% if pair_product.metafields.custom.new_product == true %} 
                    <div class="new-product-dot"></div> 
                  {% endif %}
                {% endif %}
                {% if product.title == "Re : Worked Bundle" %}
                  <div class="custom-variant-image-color" style="background-color:{{ pair_product.metafields.custom.hexa_code.value }}"></div>
                {% else %}
                   <img src="{{ pair_product.featured_image | img_url:'master' }}">
                {% endif %}
                </a>
            {% endif %}
          {% endfor %}
        </div>
      </div>

      



    {%- for option in product.options_with_values -%}
      {% if option.name == 'Select your size (in UK)' or option.name == 'Size' or option.name == 'Select your size' %}
        {% assign opt_index = forloop.index0 %}
        {%- liquid
          assign swatch_count = option.values | map: 'swatch' | compact | size
          assign picker_type = block.settings.picker_type

          if swatch_count > 0 and block.settings.swatch_shape != 'none'
            if block.settings.picker_type == 'dropdown'
              assign picker_type = 'swatch_dropdown'
            else
              assign picker_type = 'swatch'
            endif
          endif
        -%}
          <fieldset id="sizeSelectionBox" class="js product-form__input product-form__input--pill tttttttt{% if option.name == 'Select your size (in UK)' or option.name == 'Size'  %} size_variant{% endif %}">
            <div class="varaint-size-header" style="display:flex;justify-content:space-between">
            <!-- <legend class="form__label">{{ option.name }}{% if option.name == 'Choose color variant' %} / {% endif %}<span class="variant_title"{%- if option.name != 'Choose color variant' -%} style="display: none;"{% endif %}>{{ option.selected_value }}</span>{%- if option.name == 'Select your size (in UK)' or option.name == 'Size' -%}<span class="size_var is_selected" data-icon="uk">UK</span><span class="size_var" data-icon="eu">EU</span><span class="size_var" data-icon="us">US</span>{% endif %}</legend> -->
            <legend class="form__label">
                {%- if option.name == 'Choose color variant' -%}
                  {{ option.name | replace: 'Choose color variant', 'Colour' }}
                {% elsif option.name == 'Select your size (in UK)' or option.name == 'Size' or option.name == 'Select your size' %}  
                   {% if product.title contains 'Core Joggers' %}
                    Waist Size / <span class="selected_size"></span>
                  {% else %}
                    Size / <span class="selected_size"></span>
                  {% endif %} 
                  {% comment %} Size /<span class="selected_size"></span> {% endcomment %}
                {% else %}
                  {{ option.name }}
                {% endif %}
              {% if option.name == 'Choose color variant' %} / {% endif %}
              <span class="variant_title"
              {%- if option.name != 'Choose color variant' -%} style="display: none;"{% endif %}>{{ option.selected_value }}</span>
            </legend>
            {%- if option.name == 'Select your size (in UK)' or option.name == 'Size' -%}
              <div class="size_tab_head">
                <span class="size_var is_selected" data-icon="uk">UK</span>
                <span class="size_var" data-icon="eu">EU</span>
                <span class="size_var" data-icon="us">US</span>
              </div>
            {% endif %}
            <div id="openPopupBtn" style="min-width:90px;cursor:pointer;font-size:12px;line-height:12px;letter-spacing: -0.36px;color:#1a1a1a;font-weight: 400;text-align:end;">Size Guide</div>
              {%- if template == 'product.fw-product' and product.title == 'Circuit Shirt' -%}
                <div class="fw_sizeguidePopupBtn"
                  style="min-width:90px;cursor:pointer;font-size:10px;line-height:12px;color:#1a1a1a;font-weight: bold;text-align:end;letter-spacing: -0.5px;">
                  Size Guide</div>
              {%- endif -%}

              {% comment %} <script>
                document.addEventListener("DOMContentLoaded", function() {
                  // alert('333333333');
                  var modal = document.getElementById("cspopupModal");

                  // Get the button that opens the modal
                  var btn = document.getElementById("openPopupBtn");
                  var btn_size_popup = document.getElementById("sizeBtnPopup");
                  var btnSecond = document.querySelector(".custom_variants-mobile .custom-variant-label");

                  // Get the <span> element that closes the modal
                  var closeBtn = document.getElementsByClassName("close-btn")[0];



                  // When the user clicks on the close button, close the modal
                  closeBtn.onclick = function() {
                    modal.style.display = "none";
                    document.querySelector('body').classList.remove('cs-popup-is-opened');
                  }
                  // When the user clicks anywhere outside the modal, close it
                  window.onclick = function(event) {
                    if (event.target == modal) {
                      modal.style.display = "none";
                      document.querySelector('body').classList.remove('cs-popup-is-opened');
                    }
                  }


                  
                  // When the user clicks the button, open the modal
                  btn.onclick = function() {
                    modal.style.display = "flex";
                    document.querySelector('body').classList.add('cs-popup-is-opened');
                  }
                  btn_size_popup.onclick = function() {
                    modal.style.display = "flex";
                    document.querySelector('body').classList.add('cs-popup-is-opened');
                  }
                  if(btnSecond) {
                    btnSecond.onclick = function() {
                      modal.style.display = "flex";
                      document.querySelector('body').classList.add('cs-popup-is-opened');
                      document.querySelector('.custom-mobile-variants').classList.remove('size-activate');
                    }
                  }

                 
                });
              </script> {% endcomment %}
            </div>
            {%- if option.name == 'Select your size' -%}
                {% render 'product-variant-options',
                product: product,
                option: option,
                block: block,
                picker_type: picker_type,
                option_index: opt_index,
                change_option_name: true
              %}
            {% endif %}
            {% if option.name == "Select your size (in UK)" or option.name == "Size" %}
              {%- liquid
                assign ne_product_form_id = 'product-form-' | append: section.id
              -%}
              <div class="default_variant_uk is_tab_active" data-con='uk'>
                {% render 'product-variant-options',
                  product: product,
                  option: option,
                  block: block,
                  picker_type: picker_type,
                  option_index: opt_index,
                  change_option_name: true,
                  popup: popup
                %}
              </div>
              <div class="default_variant_uk" data-con='us'>
                  {%- assign opt = option.name -%}
                  {%- if opt == 'Select your size (in UK)' or opt == 'Size' -%}
                      {% assign values = '' %}
                      {% for variant in product.variants %}
                      {% assign value = variant.options[opt_index] %}
                      {% unless values contains value %}
                      {% assign values = values | join: ',' %}
                      {% assign values = values | append: ',' | append: value %} 
                      {% assign values = values | split: ',' %}
                        {% assign option_disabled = true %}
                        {% if value.available %}
                          {% assign option_disabled = false %}
                        {% endif %}
                        <input
                          type="radio"
                          id="custom_{{ section.id }}-{{ option.position }}-{{ forloop.index0 -}}-us"
                          name="custom_{{ option.name }}-{{ option.position }}-us"
                          value="{{ value | escape }}"
                          form="{{ ne_product_form_id }}"
                          {% if value.selected %}
                            checked
                          {% endif %}
                          {% if option_disabled %}
                            class="disabled"
                          {% endif %}
                          {% if product.metafields.custom.pre_book %}
                            class="pre_book"
                          {% endif %}
                          {{ input_dataset }}
                        >
                        <label for="custom_{{ section.id }}-{{ option.position }}-{{ forloop.index0 -}}-us"{% if variant.metafields.custom.us_variant == blank %} style="display: none;"{% endif %}>
                          {{ variant.metafields.custom.us_variant }}
                          {{ label_unavailable }}
                        </label>
                      {% endunless %}
                      {% endfor %}
                  {%- endif -%}
                
              </div>
              <div class="default_variant_uk" data-con='eu'>
                  {% comment %} {% assign option_disabled = true %}
                  {% if value.available %}
                    {% assign option_disabled = false %}
                  {% endif %} {% endcomment %}
                  {%- assign opt = option.name -%}
                  {%- if opt == 'Select your size (in UK)' or opt == 'Size' -%}
                      {% assign values = '' %}
                      {% for variant in product.variants %}
                      {% assign value = variant.options[opt_index] %}
                      {% unless values contains value %}
                      {% assign values = values | join: ',' %}
                      {% assign values = values | append: ',' | append: value %} 
                      {% assign values = values | split: ',' %}
                      
                      {% assign option_disabled = true %}
                        {% if value.available %}
                          {% assign option_disabled = false %}
                        {% endif %}
                        <input
                    type="radio"
                    id="custom_{{ section.id }}-{{ option.position }}-{{ forloop.index0 -}}-eu"
                    name="custom_{{ option.name }}-{{ option.position }}-eu"
                    value="{{ value | escape }}"
                    form="{{ ne_product_form_id }}"
                    {% if value.selected %}
                      checked
                    {% endif %}
                    {% if option_disabled %}
                      class="disabled"
                    {% endif %}
                    {% if product.metafields.custom.pre_book %}
                      class="pre_book"
                    {% endif %}
                    {{ input_dataset }}
                  >
                        <label for="custom_{{ section.id }}-{{ option.position }}-{{ forloop.index0 -}}-eu"{% if variant.metafields.custom.eu_variant == blank %} style="display: none;"{% endif %}>
                          {{ variant.metafields.custom.eu_variant }}
                          {{ label_unavailable }}
                        </label>
                      {% endunless %}
                      {% endfor %}
                  {%- endif -%}
                
              </div>
            {% endif %}

           
          </fieldset>

          <div class="size_specifications">
            {% for variant in product.variants %}
              <span class="size_specification_value" data-variant-title="{{ variant.title }}" style="display: none;">
                {{ variant.metafields.custom.size_specification }}
              </span>
            {% endfor %}
          </div>

          {% if product.metafields.custom.information != blank %}            
            <div class="meta_pro_information">{{ product.metafields.custom.information | metafield_tag }}</div>
          {% endif %}
          {% comment %} <div class="main-reserve">
          {% if product.id == 9672026095920 %}
            {% assign option_disabled = false %}
        
            {% for variant in product.variants %}
              {% unless variant.available %}
                {% assign option_disabled = true %}
              {% endunless %}
            {% endfor %}
        
            {% if option_disabled %}
              <a href="" class="reserve-btn">Reserve @ ₹99</a>
            {% endif %}
          {% endif %}
        </div> {% endcomment %}
        </div>
        <div id="cspopupModal" class="csmodal">
          <div class="csmodal-content">
            <div style="" class="csmodal-heading">
              <span class="size-guide-label">Size Guide</span>
              <span class="close-btn">
                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10.75 0.75L0.75 10.75M0.75 0.75L10.75 10.75" stroke="#1A1A1A" stroke-width="1.5" stroke-linecap="round"/>
                </svg>
              </span>
            </div>
            

            <div class="csmodal-subheading">
              {{ product.metafields.custom.size_chart_subheading }}
            </div>
            
            <div class="cs-modal-inner-content">
              {% if product.collections contains collections['footwear'] %}
                {% if product.collections contains collections['slider'] %}
                    <div class="slider_size_info">
                      <div>
                        <img src="https://cdn.shopify.com/s/files/1/0823/6787/3328/files/wide-foot.png?v=1746688711">
                        <p>Regular or Narrow feet?<span>go one size down</span></p>
                      </div>
                      <div>
                        <img src="https://cdn.shopify.com/s/files/1/0823/6787/3328/files/narrow-foot.png?v=1746688711">
                        <p>Wide foot?<span>stick to your usual size.</span></p>
                      </div>
                    </div>
                {% else %}
                 
                {% endif %}
              {% else %}
                {% if product.metafields.custom.size_chart_table_image != blank %}
                  <div class="size_img">
                    <img
                    src="{{ product.metafields.custom.size_chart_table_image | image_url:width:600 }}"
                    srcset="{{ product.metafields.custom.size_chart_table_image | image_url:width:400 }} 1x, {{ product.metafields.custom.size_chart_table_image | image_url:width:800 }} 2x"
                    loading="lazy"
                    alt="{{ product.title }}"
                    style="max-width:100%;aspect-ratio:1.25/1;object-fit:cover"
                    width=""
                    height=""
                  >
                </div>
                {% else %}
                  <div class="size_img">
                    <img
                      src="{{ product.featured_image | image_url:width:600 }}"
                      srcset="{{ product.featured_image | image_url:width:400 }} 1x, {{ product.featured_image | image_url:width:800 }} 2x"
                      loading="lazy"
                      alt="{{ product.title }}"
                      style="max-width:100%;aspect-ratio:1.25/1;object-fit:cover"
                      width=""
                      height=""
                    >
                    </div>
                {% endif %}
              {% endif %}
              <div class="cs-table">
                {{ product.metafields.custom.size_chart_table }}
              </div>
              {% if request.path contains 'sliders' %}
                <div class="slider-instructuions">
                  <h4>How to measure</h4>
                  <div class="instructuions_steps">
                    <div class="measurement_step">
                      <h6>Step 1 :</h6>
                      <p>Step on a piece of paper with your heel slightly touching a wall behind.</p>
                    </div>
                    <div class="measurement_step">
                      <h6>Step 2 :</h6>
                      <p>Mark the end of your longest toe on the paper and measure from the wall  to the marking.</p>
                    </div>
                    <div class="measurement_step">
                      <h6>Step 3 :</h6>
                      <p>Do the same for the other foot and compare measurements with our size chart to get the right size.</p>
                    </div>
                  </div>
                </div>
              {% endif %}
              <div class="sizechart_note">
                <img src="https://cdn.shopify.com/s/files/1/0823/6787/3328/files/info.png?v=1762753176">
                <div class="note_text">
                  <h6>Not sure about the fit?</h6>
                  <p>No problem, we offer free exchanges & returns for 7 days. <a href="https://ludic.life/pages/support">Learn More</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        {% endif %}
      {%- endfor -%}
{% comment %} {%- endunless -%} {% endcomment %}


<script>
 // document.addEventListener("DOMContentLoaded", function() {
   // const tabs = document.querySelectorAll(".slider-tab-btn");
   // const contents = document.querySelectorAll(".slider-tab-content");

  //  tabs.forEach(tab => {
  //    tab.addEventListener("click", function() {
    //    // Remove active from all
      //  tabs.forEach(t => t.classList.remove("active"));
        //contents.forEach(c => c.classList.remove("active"));

        // Add active to clicked
    //    this.classList.add("active");
   //     document.getElementById("tab-" + this.dataset.tab).classList.add("active");
    //  });
   // });
 // });

</script>


{% comment %} Active toggle tab shows first and remains active if pages changes or reloads {% endcomment %}
<script>
{% comment %} document.addEventListener('DOMContentLoaded', function () {
  const tabsContainer = document.querySelector('.sliders-tab');
  if (!tabsContainer) return;

  // 🔑 Global storage key (not per product)
  const storageKey = 'lastActiveSliderTab';

  const tabs = Array.from(tabsContainer.querySelectorAll('.slider-tab-btn'));
  const contents = Array.from(document.querySelectorAll('.slider-tab-content'));

  function clearActive() {
    tabs.forEach(t => t.classList.remove('active'));
    contents.forEach(c => c.classList.remove('active'));
  }

  function activateTab(tabName, moveFirst = true) {
    const btn = tabs.find(t => t.dataset.tab === tabName);
    const content = document.getElementById('tab-' + tabName);
    if (!btn || !content) return;

    clearActive();

    // Move active tab button to first position
    if (moveFirst && tabsContainer.firstElementChild !== btn) {
      tabsContainer.insertBefore(btn, tabsContainer.firstElementChild);
    }

    btn.classList.add('active');
    content.classList.add('active');

    // Save globally
    localStorage.setItem(storageKey, tabName);
  }

  // 🔹 On page load: restore last saved tab globally
  const savedTab = localStorage.getItem(storageKey);
  if (savedTab && tabs.some(t => t.dataset.tab === savedTab)) {
    activateTab(savedTab, true);
  } else if (tabs[0]) {
    // Default = first tab in markup
    activateTab(tabs[0].dataset.tab, false);
  }

  // 🔹 On click: activate + save
  tabs.forEach(tab => {
    tab.addEventListener('click', function () {
      activateTab(this.dataset.tab, true);
    });
  });
}); {% endcomment %}
</script>

