{%- if section.settings.layout == 'box_width' -%}
  {%- assign container = 'container' -%}
{%- else -%}
  {%- assign container = 'container-fluid' -%}
{%- endif -%}

<section id="ds-moto-{{ section.id }}" class="ludic-section ds-moto-animate {{ section.settings.custom_class }}">
  <div class="{{ container }}">
    <div class="ds-moto-inner">
      <div class="ds-moto-images">
        <img class="moto-img img-1" src="{{ section.settings.image_1 | image_url }}" alt="">
        <img class="moto-img img-2" src="{{ section.settings.image_2  | image_url }}" alt="">
      </div>

      <div class="ds-moto-text">
        {{ section.settings.text }}
      </div>
    </div>
  </div>
</section>

<style>
#ds-moto-{{ section.id }} {
  background: #000;
  padding: 120px 0;
  overflow: hidden;
}

.ds-moto-inner {
  position: relative;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ds-moto-images {
  position: relative;
  width: 260px;
  height: 360px;
  margin-bottom: 40px;
}

.ds-moto-images .moto-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  transform-origin: center;
  opacity: 0;
}

.ds-moto-images .img-2 {
  top: 20px;
  left: 20px;
}

.ds-moto-text {
  max-width: 820px;
  text-align: center;
  color: #fff;
  font-size: 32px;
  line-height: 1.4;
  opacity: 0;
}

@media (max-width: 767px) {
  .ds-moto-text {
    font-size: 22px;
  }
}
</style>

<!-- GSAP -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"></script>

<script>
document.addEventListener("DOMContentLoaded", function () {
  gsap.registerPlugin(ScrollTrigger);

  const section = document.querySelector("#ds-moto-{{ section.id }}");
  const img1 = section.querySelector(".img-1");
  const img2 = section.querySelector(".img-2");
  const text = section.querySelector(".ds-moto-text");

  const tl = gsap.timeline({
    scrollTrigger: {
      trigger: section,
      start: "top 75%",
      toggleActions: "play none none none"
    }
  });

  tl.fromTo(img1,
    {
      x: -220,
      y: -220,
      scale: 0.8,
      rotate: -15,
      opacity: 0
    },
    {
      x: 0,
      y: 0,
      scale: 1,
      rotate: 0,
      opacity: 1,
      duration: 1,
      ease: "power3.out"
    },
    0
  )
  .fromTo(img2,
    {
      x: 220,
      y: -220,
      scale: 0.8,
      rotate: 15,
      opacity: 0
    },
    {
      x: 0,
      y: 0,
      scale: 1,
      rotate: 0,
      opacity: 1,
      duration: 1,
      ease: "power3.out"
    },
    0
  )
  .fromTo(text,
    {
      y: 40,
      opacity: 0
    },
    {
      y: 0,
      opacity: 1,
      duration: 1,
      ease: "power3.out"
    },
    0
  );
});
</script>

{% schema %}
{
  "name": "DS Moto Animated",
  "settings": [
    {
      "type": "select",
      "id": "layout",
      "label": "Layout",
      "default": "box_width",
      "options": [
        { "value": "full-width", "label": "Full Width" },
        { "value": "box_width", "label": "Box Width" }
      ]
    },
    {
      "type": "image_picker",
      "id": "image_1",
      "label": "Image 1"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "Image 2"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text",
      "default": "<p>Family drives. Racing dreams. Late-night speed stories. The obsession stayed with us.<br>Now it's taking shape.</p>"
    },
    {
      "type": "text",
      "id": "custom_class",
      "label": "Custom class"
    }
  ],
  "presets": [
    {
      "name": "DS Moto Animated"
    }
  ]
}
{% endschema %}
