{%- if section.settings.layout == 'box_width' -%}
  {%- assign container = 'container' -%}
{%- endif -%}

{% assign padding = section.settings.padding | split: "|" %}
{% assign margin  = section.settings.margin | split: "|" %}

{%- style -%}
#shopify-section-{{ section.id }} .section--ds_moto_banner{
  {%- if padding[0] != blank -%} padding: {{ padding[0] }}; {%- endif -%}
  {%- if margin[0] != blank -%} margin: {{ margin[0] }}; {%- endif -%}
}

@media (max-width:1199px){
  #shopify-section-{{ section.id }} .section--ds_moto_banner{
    {%- if padding[1] != blank -%} padding: {{ padding[1] }}; {%- endif -%}
    {%- if margin[1] != blank -%} margin: {{ margin[1] }}; {%- endif -%}
  }
}

@media (max-width:991px){
  #shopify-section-{{ section.id }} .section--ds_moto_banner{
    {%- if padding[2] != blank -%} padding: {{ padding[2] }}; {%- endif -%}
    {%- if margin[2] != blank -%} margin: {{ margin[2] }}; {%- endif -%}
  }
}

@media (max-width:767px){
  #shopify-section-{{ section.id }} .section--ds_moto_banner{
    {%- if padding[3] != blank -%} padding: {{ padding[3] }}; {%- endif -%}
    {%- if margin[3] != blank -%} margin: {{ margin[3] }}; {%- endif -%}
  }
}

{%- endstyle -%}

<section class="ludic-section ludic-section-{{ section.id }} section--ds_moto_banner">
  <div class="{{ container }}">
    <div class="ds_moto_banner_inner">
        <img src="https://cdn.shopify.com/s/files/1/0823/6787/3328/files/ds_moto_banner.png?v=1767253211">
        <div class="ds_moto_banner_content">
            <img src="https://cdn.shopify.com/s/files/1/0823/6787/3328/files/futurworks_logo_svg.svg?v=1767253379">
            <p>Mindful products for mindless pursuits. An alternate realm of Ludic featuring future from the past.</p>
            <a href="#" class="ds_moto_btn ds_moto_banner_btn">Discover Futurworks</a>
        </div>
    </div>
  </div>
</section>



{% schema %}
{
  "name": "DS Moto Banner",
  "settings": [
    {
      "type": "select",
      "id": "layout",
      "label": "Layout",
      "default": "box_width",
      "options": [
        { "value": "full-width", "label": "Full Width" },
        { "value": "box_width", "label": "Box Width" }
      ]
    },
    {
      "type": "text",
      "id": "padding",
      "label": "Padding",
      "default": "0px 0px 0px 0px",
      "info": "Desktop | 1200px | 991px | 767px"
    },
    {
      "type": "text",
      "id": "margin",
      "label": "Margin",
      "default": "80px 0px | | | 36px 0px",
      "info": "Desktop | 1200px | 991px | 767px"
    }
  ],
  "presets": [
    {
      "name": "DS Moto Banner",
      "category": "Custom"
    }
  ]
}
{% endschema %}


{% stylesheet %}
{% endstylesheet %}
