{%- if section.settings.layout == 'box_width' -%}
  {%- assign container = 'container' -%}
{%- else -%}
  {%- assign container = 'container-fluid' -%}
{%- endif -%}

{% assign padding = section.settings.padding | split: "|" %}
{% assign margin  = section.settings.margin  | split: "|" %}

{%- style -%}

.section--ds-moto-newsletter{
    background-image: url(https://cdn.shopify.com/s/files/1/0823/6787/3328/files/BG_LINES.svg?v=1766388068);
    background-size: cover;
    background-position: center;
}
#shopify-section-{{ section.id }} .section--ds-moto-newsletter{
  {% if padding[0] != blank %}padding: {{ padding[0] }};{% endif %}
  {% if margin[0]  != blank %}margin: {{ margin[0] }};{% endif %}
}

@media (max-width:1199px){
  #shopify-section-{{ section.id }} .section--ds-moto-newsletter{
    {% if padding[1] != blank %}padding: {{ padding[1] }};{% endif %}
    {% if margin[1]  != blank %}margin: {{ margin[1] }};{% endif %}
  }
}

@media (max-width:991px){
  #shopify-section-{{ section.id }} .section--ds-moto-newsletter{
    {% if padding[2] != blank %}padding: {{ padding[2] }};{% endif %}
    {% if margin[2]  != blank %}margin: {{ margin[2] }};{% endif %}
  }
}

@media (max-width:767px){
  #shopify-section-{{ section.id }} .section--ds-moto-newsletter{
    {% if padding[3] != blank %}padding: {{ padding[3] }};{% endif %}
    {% if margin[3]  != blank %}margin: {{ margin[3] }};{% endif %}
  }
}

.ds-moto-lottie{
  max-width: 700px;
  margin: 0 auto;
}
.ds-moto-lottie lottie-player{
  width: 100%;
  height: 320px;
}
{%- endstyle -%}

<section class="ludic-section section--ds-moto-newsletter {{ section.settings.custom_class }}">
  <div class="{{ container }}">
    <div class="ds_moto_newsletter_inner">
        <div class="ds_moto_head">
            <h5>Join the waitlist</h5>
            <p>Speed never killed anyone, Suddenly becoming stationery.</p>
        </div>
        <div class="ds_moto_newsletter_form">
            {%- form 'customer', id: 'DSMotoNewsletter', class: 'ds-moto-form' -%}

                <!-- Tags -->
                <input type="hidden" name="contact[tags]" value="Ludic-Moto">

                <!-- Full Name -->
                <div class="ds-field">
                    <svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14.2193 5.15989C14.3277 4.75881 14.2735 4.34688 14.0675 3.98916C13.8614 3.63144 13.5253 3.38211 13.1349 3.27371C12.7337 3.16531 12.3217 3.21951 11.9639 3.42548L8.68918 5.32249V1.55014C8.68918 0.693767 7.99519 0 7.13856 0H7.09521C6.27112 0.0216802 5.59883 0.704607 5.59883 1.5393V5.32249L2.32416 3.44715C1.96633 3.24119 1.54343 3.18699 1.16391 3.29539C0.762712 3.39295 0.437417 3.63144 0.220551 4.01084C-0.202339 4.74797 0.0470458 5.69106 0.784392 6.11382L4.04824 8L0.762717 9.89702C0.415731 10.103 0.155487 10.439 0.0470539 10.8293C-0.050536 11.2412 0.00367396 11.664 0.209697 12.0108C0.426564 12.3577 0.751847 12.607 1.14221 12.7154C1.54341 12.8238 1.96632 12.7696 2.3133 12.5637L5.59883 10.6667V14.4499C5.59883 15.3062 6.29278 16 7.13856 16C7.98434 16 8.67833 15.3062 8.67833 14.4499V10.6775L11.953 12.5637C12.3108 12.7696 12.7337 12.8238 13.1132 12.7154C13.5253 12.607 13.8506 12.3469 14.0566 12C14.2518 11.6531 14.306 11.2304 14.2084 10.8401C14.1 10.439 13.8506 10.1138 13.4928 9.89702L10.2181 7.98916L13.4819 6.10298C13.8397 5.89702 14.1 5.57182 14.2084 5.17073L14.2193 5.15989Z" fill="#F9F9F9"/>
                    </svg>
                    <input type="text" name="contact[name]" required placeholder="Enter full name">
                </div>

                <!-- Email -->
                <div class="ds-field">
                    <svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14.2193 5.15989C14.3277 4.75881 14.2735 4.34688 14.0675 3.98916C13.8614 3.63144 13.5253 3.38211 13.1349 3.27371C12.7337 3.16531 12.3217 3.21951 11.9639 3.42548L8.68918 5.32249V1.55014C8.68918 0.693767 7.99519 0 7.13856 0H7.09521C6.27112 0.0216802 5.59883 0.704607 5.59883 1.5393V5.32249L2.32416 3.44715C1.96633 3.24119 1.54343 3.18699 1.16391 3.29539C0.762712 3.39295 0.437417 3.63144 0.220551 4.01084C-0.202339 4.74797 0.0470458 5.69106 0.784392 6.11382L4.04824 8L0.762717 9.89702C0.415731 10.103 0.155487 10.439 0.0470539 10.8293C-0.050536 11.2412 0.00367396 11.664 0.209697 12.0108C0.426564 12.3577 0.751847 12.607 1.14221 12.7154C1.54341 12.8238 1.96632 12.7696 2.3133 12.5637L5.59883 10.6667V14.4499C5.59883 15.3062 6.29278 16 7.13856 16C7.98434 16 8.67833 15.3062 8.67833 14.4499V10.6775L11.953 12.5637C12.3108 12.7696 12.7337 12.8238 13.1132 12.7154C13.5253 12.607 13.8506 12.3469 14.0566 12C14.2518 11.6531 14.306 11.2304 14.2084 10.8401C14.1 10.439 13.8506 10.1138 13.4928 9.89702L10.2181 7.98916L13.4819 6.10298C13.8397 5.89702 14.1 5.57182 14.2084 5.17073L14.2193 5.15989Z" fill="#F9F9F9"/>
                    </svg>
                    <input type="email" name="contact[email]" required placeholder="Enter email address">
                </div>

                <!-- Phone -->
                <div class="ds-field">
                    <svg width="24" height="16" viewBox="0 0 24 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_189_20895)">
                        <path d="M0 0H24V5.33333H0V0Z" fill="#FF9933"/>
                        <path d="M0 5.33325H24V10.6666H0V5.33325Z" fill="white"/>
                        <path d="M0 10.6667H24V16.0001H0V10.6667Z" fill="#138808"/>
                        <path d="M12 9.5999C12.8837 9.5999 13.6 8.88356 13.6 7.9999C13.6 7.11625 12.8837 6.3999 12 6.3999C11.1164 6.3999 10.4 7.11625 10.4 7.9999C10.4 8.88356 11.1164 9.5999 12 9.5999Z" stroke="#000080" stroke-width="0.187135"/>
                        <path d="M12 8.16009C12.0884 8.16009 12.16 8.08845 12.16 8.00009C12.16 7.91172 12.0884 7.84009 12 7.84009C11.9117 7.84009 11.84 7.91172 11.84 8.00009C11.84 8.08845 11.9117 8.16009 12 8.16009Z" fill="#000080"/>
                        <path d="M12.4117 6.46365L11.5883 9.53649L12.4117 6.46365ZM12.4117 6.46365L11.5883 9.53649L12.4117 6.46365ZM12.7953 6.62252L11.2047 9.37761L12.7953 6.62252ZM13.1248 6.87529L10.8752 9.12484L13.1248 6.87529ZM13.3776 7.20475L10.6225 8.79539L13.3776 7.20475ZM13.5364 7.58837L10.4636 8.41176L13.5364 7.58837ZM13.5906 8.00007H10.4094H13.5906ZM13.5364 8.41176L10.4636 7.58837L13.5364 8.41176ZM13.3776 8.79539L10.6225 7.20475L13.3776 8.79539ZM13.1248 9.12484L10.8752 6.87529L13.1248 9.12484ZM12.7953 9.37761L11.2047 6.62252L12.7953 9.37761ZM12.4117 9.53649L11.5883 6.46365L12.4117 9.53649ZM12 9.59071V6.40942V9.59071ZM12.4117 6.46365L11.5883 9.53649L12.4117 6.46365ZM12.7953 6.62252L11.2047 9.37761L12.7953 6.62252ZM13.1248 6.87529L10.8752 9.12484L13.1248 6.87529ZM13.3776 7.20475L10.6225 8.79539L13.3776 7.20475ZM13.5364 7.58837L10.4636 8.41176L13.5364 7.58837ZM13.5906 8.00007H10.4094H13.5906ZM13.5364 8.41176L10.4636 7.58837L13.5364 8.41176ZM13.3776 8.79539L10.6225 7.20475L13.3776 8.79539ZM13.1248 9.12484L10.8752 6.87529L13.1248 9.12484ZM12.7953 9.37761L11.2047 6.62252L12.7953 9.37761ZM12.4117 9.53649L11.5883 6.46365L12.4117 9.53649Z" fill="black"/>
                        <path d="M12.4117 6.46365L11.5883 9.53649M12.7953 6.62252L11.2047 9.37761M13.1248 6.87529L10.8752 9.12484M13.3776 7.20475L10.6225 8.79539M13.5364 7.58837L10.4636 8.41176M13.5906 8.00007H10.4094M13.5364 8.41176L10.4636 7.58837M13.3776 8.79539L10.6225 7.20475M13.1248 9.12484L10.8752 6.87529M12.7953 9.37761L11.2047 6.62252M12.4117 9.53649L11.5883 6.46365M12 9.59071V6.40942" stroke="#000080" stroke-width="0.0935673"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_189_20895">
                        <rect width="24" height="16" fill="white"/>
                        </clipPath>
                        </defs>
                    </svg>
                    <input type="tel" name="contact[note][phone]" required placeholder="Enter phone number">
                </div>

                <!-- Instagram Username -->
                <div class="ds-field">
                    <svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14.2193 5.15989C14.3277 4.75881 14.2735 4.34688 14.0675 3.98916C13.8614 3.63144 13.5253 3.38211 13.1349 3.27371C12.7337 3.16531 12.3217 3.21951 11.9639 3.42548L8.68918 5.32249V1.55014C8.68918 0.693767 7.99519 0 7.13856 0H7.09521C6.27112 0.0216802 5.59883 0.704607 5.59883 1.5393V5.32249L2.32416 3.44715C1.96633 3.24119 1.54343 3.18699 1.16391 3.29539C0.762712 3.39295 0.437417 3.63144 0.220551 4.01084C-0.202339 4.74797 0.0470458 5.69106 0.784392 6.11382L4.04824 8L0.762717 9.89702C0.415731 10.103 0.155487 10.439 0.0470539 10.8293C-0.050536 11.2412 0.00367396 11.664 0.209697 12.0108C0.426564 12.3577 0.751847 12.607 1.14221 12.7154C1.54341 12.8238 1.96632 12.7696 2.3133 12.5637L5.59883 10.6667V14.4499C5.59883 15.3062 6.29278 16 7.13856 16C7.98434 16 8.67833 15.3062 8.67833 14.4499V10.6775L11.953 12.5637C12.3108 12.7696 12.7337 12.8238 13.1132 12.7154C13.5253 12.607 13.8506 12.3469 14.0566 12C14.2518 11.6531 14.306 11.2304 14.2084 10.8401C14.1 10.439 13.8506 10.1138 13.4928 9.89702L10.2181 7.98916L13.4819 6.10298C13.8397 5.89702 14.1 5.57182 14.2084 5.17073L14.2193 5.15989Z" fill="#F9F9F9"/>
                    </svg>
                    <input
                    type="text"
                    name="contact[note][instagram]"
                    placeholder="Instagram username (optional)"
                    oninput="document.getElementById('instaTag-{{ section.id }}').value = this.value ? 'Instagram_' + this.value : '';">
                </div>

                <!-- Submit -->
                <button type="submit" class="ds-submit-btn">
                    Submit
                </button>

                 <!-- Privacy Checkbox -->
                <div class="ds-privacy">
                    <label>
                        <input type="checkbox" name="privacy" checked required>
                        By signing up, you agree to Ludic Privacy and Cookie Policy.
                    </label>
                </div>

                {%- if form.posted_successfully? -%}
                    <p class="form-success">Thanks for joining the waitlist!</p>
                {%- endif -%}

                {%- if form.errors -%}
                    <p class="form-error">{{ form.errors | default_errors }}</p>
                {%- endif -%}

            {%- endform -%}

        </div>
    </div>
  </div>
</section>



{% schema %}
{
  "name": "DS Moto Newsletter",
  "settings": [
    {
      "type": "select",
      "id": "layout",
      "label": "Layout",
      "default": "box_width",
      "options": [
        { "value": "full-width", "label": "Full Width" },
        { "value": "box_width", "label": "Box Width" }
      ]
    },
    {
      "type": "text",
      "id": "padding",
      "label": "Padding",
      "default": "0px 0px 0px 0px",
      "info": "Desktop | 1200px | 991px | 767px"
    },
    {
      "type": "text",
      "id": "margin",
      "label": "Margin",
      "default": "80px 0px | | | 36px 0px",
      "info": "Desktop | 1200px | 991px | 767px"
    },
    {
      "type": "text",
      "id": "custom_class",
      "label": "Custom Class"
    }
  ],
  "presets": [
    {
      "name": "DS Moto Newsletter"
    }
  ]
}
{% endschema %}
