{%- if section.settings.layout == 'box_width' -%}
  {%- assign container = 'container' -%}
{%- else -%}
  {%- assign container = 'container-fluid' -%}
{%- endif -%}

{% assign padding = section.settings.padding | split: "|" %}
{% assign margin  = section.settings.margin  | split: "|" %}

{%- style -%}
#shopify-section-{{ section.id }} .section--ds-moto-newsletter{
  {% if padding[0] != blank %}padding: {{ padding[0] }};{% endif %}
  {% if margin[0]  != blank %}margin: {{ margin[0] }};{% endif %}
}

@media (max-width:1199px){
  #shopify-section-{{ section.id }} .section--ds-moto-newsletter{
    {% if padding[1] != blank %}padding: {{ padding[1] }};{% endif %}
    {% if margin[1]  != blank %}margin: {{ margin[1] }};{% endif %}
  }
}

@media (max-width:991px){
  #shopify-section-{{ section.id }} .section--ds-moto-newsletter{
    {% if padding[2] != blank %}padding: {{ padding[2] }};{% endif %}
    {% if margin[2]  != blank %}margin: {{ margin[2] }};{% endif %}
  }
}

@media (max-width:767px){
  #shopify-section-{{ section.id }} .section--ds-moto-newsletter{
    {% if padding[3] != blank %}padding: {{ padding[3] }};{% endif %}
    {% if margin[3]  != blank %}margin: {{ margin[3] }};{% endif %}
  }
}

.ds-moto-lottie{
  max-width: 700px;
  margin: 0 auto;
}
.ds-moto-lottie lottie-player{
  width: 100%;
  height: 320px;
}
{%- endstyle -%}

<section class="ludic-section section--ds-moto-newsletter {{ section.settings.custom_class }}">
  <div class="{{ container }}">
    <div class="ds_moto_newsletter_inner">
        <div class="ds_moto_head">
            <h5>Join the waitlist</h5>
            <p>`Speed never killed anyone, Suddenly becoming stationery.</p>
        </div>
        <div class="ds_moto_newsletter_form">
            {%- form 'customer', id: 'ContactFooter', class: 'footer__newsletter newsletter-form' -%}
                <input type="hidden" name="contact[tags]" value="newsletter">
                <div class="newsletter-form__field-wrapper">
                <div class="field">
                    <input
                    id="NewsletterForm--{{ section.id }}"
                    type="email"
                    name="contact[email]"
                    class="field__input"
                    value="{{ form.email }}"
                    aria-required="true"
                    autocorrect="off"
                    autocapitalize="off"
                    autocomplete="email"
                    {% if form.errors %}
                        autofocus
                        aria-invalid="true"
                        aria-describedby="ContactFooter-error"
                    {% elsif form.posted_successfully? %}
                        aria-describedby="ContactFooter-success"
                    {% endif %}
                    placeholder="Enter email address"
                    required
                    >
                    <label class="field__label" for="NewsletterForm--{{ section.id }}">
                    Enter email address
                    </label>
                    <button
                    type="submit"
                    class="newsletter-form__button field__button"
                    name="commit"
                    id="Subscribe"
                    aria-label="{{ 'newsletter.button_label' | t }}"
                    >
                    {% render 'icon-arrow' %}
                    </button>
                </div>
                {%- if form.errors -%}
                    <small class="newsletter-form__message form__message" id="ContactFooter-error">
                    {%- render 'icon-error' -%}
                    {{- form.errors.translated_fields.email | capitalize }}
                    {{ form.errors.messages.email -}}
                    </small>
                {%- endif -%}
                </div>
                {%- if form.posted_successfully? -%}
                <h3
                    class="newsletter-form__message newsletter-form__message--success form__message"
                    id="ContactFooter-success"
                    tabindex="-1"
                    autofocus
                >
                    {{- 'newsletter.success' | t }}
                </h3>
                {%- endif -%}
            {%- endform -%}
        </div>
    </div>
  </div>
</section>



{% schema %}
{
  "name": "DS Moto Newsletter",
  "settings": [
    {
      "type": "select",
      "id": "layout",
      "label": "Layout",
      "default": "box_width",
      "options": [
        { "value": "full-width", "label": "Full Width" },
        { "value": "box_width", "label": "Box Width" }
      ]
    },
    {
      "type": "text",
      "id": "padding",
      "label": "Padding",
      "default": "0px 0px 0px 0px",
      "info": "Desktop | 1200px | 991px | 767px"
    },
    {
      "type": "text",
      "id": "margin",
      "label": "Margin",
      "default": "80px 0px | | | 36px 0px",
      "info": "Desktop | 1200px | 991px | 767px"
    },
    {
      "type": "text",
      "id": "custom_class",
      "label": "Custom Class"
    }
  ],
  "presets": [
    {
      "name": "DS Moto Newsletter"
    }
  ]
}
{% endschema %}
