{%- if section.settings.layout == 'box_width' -%}
  {%- assign container = 'container' -%}
{%- endif -%}

{% assign padding = section.settings.padding | split: "|" %}
{% assign margin  = section.settings.margin | split: "|" %}

{%- style -%}
#shopify-section-{{ section.id }} .section--ds_moto_imgs_text{
  {%- if padding[0] != blank -%} padding: {{ padding[0] }}; {%- endif -%}
  {%- if margin[0] != blank -%} margin: {{ margin[0] }}; {%- endif -%}
}

@media (max-width:1199px){
  #shopify-section-{{ section.id }} .section--ds_moto_imgs_text{
    {%- if padding[1] != blank -%} padding: {{ padding[1] }}; {%- endif -%}
    {%- if margin[1] != blank -%} margin: {{ margin[1] }}; {%- endif -%}
  }
}

@media (max-width:991px){
  #shopify-section-{{ section.id }} .section--ds_moto_imgs_text{
    {%- if padding[2] != blank -%} padding: {{ padding[2] }}; {%- endif -%}
    {%- if margin[2] != blank -%} margin: {{ margin[2] }}; {%- endif -%}
  }
}

@media (max-width:767px){
  #shopify-section-{{ section.id }} .section--ds_moto_imgs_text{
    {%- if padding[3] != blank -%} padding: {{ padding[3] }}; {%- endif -%}
    {%- if margin[3] != blank -%} margin: {{ margin[3] }}; {%- endif -%}
  }
}
{%- endstyle -%}

<section class="ludic-section ludic-section-{{ section.id }} section--ds_moto_imgs_text">
  <div class="{{ container }}">
    <div class="ds_moto_imgs_text_inner">
        <div class="ds_moto_content">
            <h4>DS MOTO</h4>
            <div class="description">
                <p>An obsession echoed loud. Like from roaring from the grandstand to feeling the revs build through the pedal. From dreaming in apexes to the never-ending jolts of downforce.</p>
                <p>A collection designed as a tribute to driving enthusiasts with a deep love for automobiles. Built with absolute adrenaline and love for speed, delivering a product that keeps you close to the feeling. Control, wear, vibe -- everything captured end-to-end in Ludic's in-house Low Profile Lifestyle Outsole. Takes cues from racing ergonomics. Truly functional, intentional, and dedicated. </p>
                <p>Made in premium suede with the outsole engraved with five iconic racetracks from around the world, underfoot.</p>
                <p>Not race gear.<br/>Not merch.<br/>Just something for the motor-heads to feel in their bones.</p>
            </div>
            <a href="#" class="ds_moto_shop_btn ds_moto_btn">SHOP NOW</a>
        </div>
        <div class="ds_moto_imgs">
            <img src="https://cdn.shopify.com/s/files/1/0823/6787/3328/files/Background-1.png?v=1767186393">
            <img src="https://cdn.shopify.com/s/files/1/0823/6787/3328/files/Background-2.png?v=1767186393">
        </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "DS Moto Images with Text",
  "settings": [
    {
      "type": "select",
      "id": "layout",
      "label": "Layout",
      "default": "box_width",
      "options": [
        { "value": "full-width", "label": "Full Width" },
        { "value": "box_width", "label": "Box Width" }
      ]
    },
    {
      "type": "text",
      "id": "padding",
      "label": "Padding",
      "default": "0px 0px 0px 0px",
      "info": "Desktop | 1200px | 991px | 767px"
    },
    {
      "type": "text",
      "id": "margin",
      "label": "Margin",
      "default": "80px 0px | | | 36px 0px",
      "info": "Desktop | 1200px | 991px | 767px"
    }
  ],
  "presets": [
    {
      "name": "DS Moto Images with Text",
      "category": "Custom"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}
{% javascript %}
{% endjavascript %}