{%- if section.settings.layout == 'box_width' -%}
  {%- assign container = 'container' -%}
{%- else -%}
  {%- assign container = 'full-width' -%}
{%- endif -%}

{% assign padding = section.settings.padding | split: '|' %}
{% assign margin = section.settings.margin | split: '|' %}

{%- style -%}
  #shopify-section-{{ section.id }} .section--fw-full-image {
    {% if padding[0] != blank %}padding: {{ padding[0] }};{% endif %}
    {% if margin[0] != blank %}margin: {{ margin[0] }};{% endif %}
    background: {{ section.settings.bg_color }};
  }

  @media (max-width: 1199px) {
    #shopify-section-{{ section.id }} .section--fw-full-image {
      {% if padding[1] != blank %}padding: {{ padding[1] }};{% endif %}
      {% if margin[1] != blank %}margin: {{ margin[1] }};{% endif %}
    }
  }

  @media (max-width: 991px) {
    #shopify-section-{{ section.id }} .section--fw-full-image {
      {% if padding[2] != blank %}padding: {{ padding[2] }};{% endif %}
      {% if margin[2] != blank %}margin: {{ margin[2] }};{% endif %}
    }
  }

  @media (max-width: 767px) {
    #shopify-section-{{ section.id }} .section--fw-full-image {
      {% if padding[3] != blank %}padding: {{ padding[3] }};{% endif %}
      {% if margin[3] != blank %}margin: {{ margin[3] }};{% endif %}
    }
  }
{%- endstyle -%}

<section class="ludic-section ludic-section-{{ section.id }} section--fw-full-image">
  {% if product.metafields.custom.desktop_static_image %}
    <img
      src="{{ product.metafields.custom.desktop_static_image | image_url: width: 2000 }}"
      alt="Fw Desktop Image"
      class="desktop_img">
  {% endif %}

  {% if product.metafields.custom.mobile_static_image %}
    <img
      src="{{ product.metafields.custom.mobile_static_image | image_url: width: 1000 }}"
      alt="Fw Mobile Image"
      class="mobile_img">
  {% endif %}
</section>


{% schema %}
{
  "name": "Fw Full Image",
  "settings": [
    {
      "type": "select",
      "id": "layout",
      "options": [
        { "value": "full-width", "label": "Full Width" },
        { "value": "box_width", "label": "Box Width" }
      ],
      "label": "Layout",
      "default": "box_width"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background",
      "default": "#ffffff"
    },
    {
      "type": "text",
      "id": "padding",
      "label": "Padding",
      "default": "80px 0px 80px 0px|60px 0px 60px 0px|40px 0px 40px 0px|20px 0px 20px 0px",
      "info": "Format: desktop | 1200px | 991px | 767px"
    },
    {
      "type": "text",
      "id": "margin",
      "label": "Margin",
      "default": "0px 0px 0px 0px| | |36px 0px",
      "info": "Format: desktop | 1200px | 991px | 767px"
    }
  ],
  "presets": [
    {
      "name": "Fw Full Image",
      "category": "Custom"
    }
  ]
}
{% endschema %}
