{%- if section.settings.layout == 'box_width' -%}
  {%- assign container = 'container' -%}
{%- endif -%}

{% assign padding = section.settings.padding | split: "|" %}
{% assign margin  = section.settings.margin  | split: "|" %}

{%- style -%}
#shopify-section-{{ section.id }} .section--ds-moto-lottie{
  {%- if padding[0] != blank -%} padding: {{ padding[0] }}; {%- endif -%}
  {%- if margin[0]  != blank -%} margin:  {{ margin[0] }};  {%- endif -%}
}

@media (max-width:1199px){
  #shopify-section-{{ section.id }} .section--ds-moto-lottie{
    {%- if padding[1] != blank -%} padding: {{ padding[1] }}; {%- endif -%}
    {%- if margin[1]  != blank -%} margin:  {{ margin[1] }};  {%- endif -%}
  }
}

@media (max-width:991px){
  #shopify-section-{{ section.id }} .section--ds-moto-lottie{
    {%- if padding[2] != blank -%} padding: {{ padding[2] }}; {%- endif -%}
    {%- if margin[2]  != blank -%} margin:  {{ margin[2] }};  {%- endif -%}
  }
}

@media (max-width:767px){
  #shopify-section-{{ section.id }} .section--ds-moto-lottie{
    {%- if padding[3] != blank -%} padding: {{ padding[3] }}; {%- endif -%}
    {%- if margin[3]  != blank -%} margin:  {{ margin[3] }};  {%- endif -%}
  }
}

/* IMPORTANT: height is required */
.ds-moto-lottie{
  width: 100%;
  max-width: 700px;
  height: 320px;
  margin: 0 auto;
}
{%- endstyle -%}

<section class="ludic-section ludic-section-{{ section.id }} section--ds-moto-lottie {{ section.settings.custom_class }}" style="background: #000;">
  <div class="{{ container }}">
    <dotlottie-wc
  src="https://cdn.shopify.com/s/files/1/0823/6787/3328/files/track.json?v=1766381217"
  speed="1"
  style="width: 300px; height: 300px"
  mode="forward"
  loop
  autoplay
></dotlottie-wc>
<div id="lottie-container" style="width: 400px; height: 400px;"> </div>

  </div>
</section>

<script>
  var animation = bodymovin.loadAnimation({
    container: document.getElementById('lottie-container'), // The DOM element
    path: 'https://cdn.shopify.com/s/files/1/0823/6787/3328/files/track.json?v=1766381217', // The path to the JSON file
    renderer: 'svg', // Options: 'svg', 'canvas', 'html'
    loop: true, // Boolean: true or false
    autoplay: true, // Boolean: true or false
    name: "My Animation", // Optional name
  });
</script>

{% comment %} <script>
(function () {

  function loadLottie(callback) {
    if (window.lottie) {
      callback();
      return;
    }

    var script = document.createElement("script");
    script.src = "https://unpkg.com/lottie-web@5.12.2/build/player/lottie.min.js";
    script.onload = callback;
    document.head.appendChild(script);
  }

  function initLottie() {
    var container = document.getElementById("ds-moto-lottie-{{ section.id }}");
    if (!container) return;

    lottie.loadAnimation({
      container: container,
      renderer: "svg",
      loop: true,
      autoplay: true,
      path: container.dataset.lottieUrl
    });
  }

  document.addEventListener("DOMContentLoaded", function () {
    loadLottie(initLottie);
  });

})();
</script> {% endcomment %}

{% schema %}
{
  "name": "DS Moto Lottie",
  "settings": [
    {
      "type": "select",
      "id": "layout",
      "label": "Layout",
      "default": "box_width",
      "options": [
        { "value": "full-width", "label": "Full Width" },
        { "value": "box_width", "label": "Box Width" }
      ]
    },
    {
      "type": "text",
      "id": "padding",
      "label": "Padding",
      "default": "0px 0px 0px 0px",
      "info": "Desktop | 1200px | 991px | 767px"
    },
    {
      "type": "text",
      "id": "margin",
      "label": "Margin",
      "default": "80px 0px | | | 36px 0px",
      "info": "Desktop | 1200px | 991px | 767px"
    },
    {
      "type": "header",
      "content": "General"
    },
    {
      "type": "text",
      "id": "custom_class",
      "label": "Custom Class"
    }
  ],
  "presets": [
    {
      "name": "DS Moto Lottie"
    }
  ]
}
{% endschema %}
