{%- if section.settings.layout == 'box_width' -%}
  {%- assign container = 'container' -%}
{%- endif -%}

{% assign padding = section.settings.padding | split: "|" %}
{% assign margin  = section.settings.margin | split: "|" %}

{%- style -%}
#shopify-section-{{ section.id }} .section--marquee-products{
  {%- if padding[0] != blank -%} padding: {{ padding[0] }}; {%- endif -%}
  {%- if margin[0] != blank -%} margin: {{ margin[0] }}; {%- endif -%}
}

@media (max-width:1199px){
  #shopify-section-{{ section.id }} .section--marquee-products{
    {%- if padding[1] != blank -%} padding: {{ padding[1] }}; {%- endif -%}
    {%- if margin[1] != blank -%} margin: {{ margin[1] }}; {%- endif -%}
  }
}

@media (max-width:991px){
  #shopify-section-{{ section.id }} .section--marquee-products{
    {%- if padding[2] != blank -%} padding: {{ padding[2] }}; {%- endif -%}
    {%- if margin[2] != blank -%} margin: {{ margin[2] }}; {%- endif -%}
  }
}

@media (max-width:767px){
  #shopify-section-{{ section.id }} .section--marquee-products{
    {%- if padding[3] != blank -%} padding: {{ padding[3] }}; {%- endif -%}
    {%- if margin[3] != blank -%} margin: {{ margin[3] }}; {%- endif -%}
  }
}
{%- endstyle -%}

<section class="ludic-section ludic-section-{{ section.id }} section--marquee-products">
  <div class="{{ container }}">
    <div class="products_marquee_inner">
        
    </div>
  </div>
</section>


{% schema %}
{
  "name": "Marquee Products",
  "settings": [
    {
      "type": "select",
      "id": "layout",
      "label": "Layout",
      "default": "box_width",
      "options": [
        { "value": "full-width", "label": "Full Width" },
        { "value": "box_width", "label": "Box Width" }
      ]
    },
    {
      "type": "text",
      "id": "padding",
      "label": "Padding",
      "default": "0px 0px 0px 0px",
      "info": "Desktop | 1200px | 991px | 767px"
    },
    {
      "type": "text",
      "id": "margin",
      "label": "Margin",
      "default": "80px 0px | | | 36px 0px",
      "info": "Desktop | 1200px | 991px | 767px"
    }
  ],
  "presets": [
    {
      "name": "Marquee Products",
      "category": "Custom"
    }
  ]
}
{% endschema %}


{% stylesheet %}
{% endstylesheet %}
