
{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{% if product.metafields.custom.product_lifestyle_usps %}
<section id="section_product_USPs">
    <div class="product_USPs content-container section-{{ section.id }}-padding">
        <div class="container">
          <div class="product_USP_container">
            {% for usp in product.metafields.custom.product_lifestyle_usps.value %}
              <div class="product_USP">
                <div class="USP_img">
                  {% for meta_img  in product.metafields.custom.scroll_image.value %}
                  {% assign meta_image = meta_img | split: '||'  %}
                    <img src="{{ meta_image[0] }}">
                  {% endfor %}
                </div>
                <div class="USP_content">
                  <img src="https://cdn.shopify.com/s/files/1/0823/6787/3328/files/red-askrisk.svg?v=1761730959" class="USP_icon">
                  <div class="USP_info">
                    <h4 class="USP_title">{{ usp.title }}</h4>
                    <p class="USP_description">{{ usp.description }}</p>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
    </div>
</section>
{% endif %}

{% schema %}
{
  "name": "Product USPs",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "t:sections.video.settings.heading.default",
      "label": "t:sections.video.settings.heading.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "Product USPs"
    }
  ]
}
{% endschema %}
