
{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<section id="section_product_reels">
    <div class="product_reels content-container section-{{ section.id }}-padding">
        <div class="container">
            {%- unless section.settings.heading == blank -%}
                <h2 class="reels_title">{{ section.settings.heading }}</h2>
            {%- endunless -%}
            <div class="reels-container">
                {% if product.metafields.custom.product_reel_video %}
                    <div class="reel active">
                        {% comment %} <video 
                        src="{{ product.metafields.custom.product_reel_video | file_url }}" 
                        muted 
                        playsinline>
                        </video> {% endcomment %}
                        {{ product.metafields.custom.product_reel_video.value | video_tag: autoplay: true, loop: true, muted: true, controls: false }}
                    </div>
                {% endif %}
                {% if product.metafields.custom.product_reel_video_2 %}
                    <div class="reel">
                        {% comment %} <video 
                        src="{{ product.metafields.custom.product_reel_video_2 | file_url }}" 
                        muted 
                        playsinline>
                        </video> {% endcomment %}
                         {{ product.metafields.custom.product_reel_video_2.value | video_tag: autoplay: true, loop: true, muted: true, controls: false }}
                    </div>
                {% endif %}
                {% if product.metafields.custom.product_reel_video_3 %}
                    <div class="reel">
                        {% comment %} <video 
                        src="{{ product.metafields.custom.product_reel_video_3 | file_url }}" 
                        muted 
                        playsinline>
                        </video> {% endcomment %}
                        {{ product.metafields.custom.product_reel_video_3.value | video_tag: autoplay: true, loop: true, muted: true, controls: false }}
                    </div>
                {% endif %}
                {% if product.metafields.custom.product_reel_video_4 %}
                    <div class="reel">
                        {% comment %} <video 
                        src="{{ product.metafields.custom.product_reel_video_4 | file_url }}" 
                        muted 
                        playsinline>
                        </video> {% endcomment %}
                        {{ product.metafields.custom.product_reel_video_4.value | video_tag: autoplay: true, loop: true, muted: true, controls: false }}
                    </div>
                {% endif %}

            </div>
            <div class="reel-thumbnails">
                {% if product.metafields.custom.product_reel_video %}
                    <div class="thumb active">
                        {% comment %} <video 
                        src="{{ product.metafields.custom.product_reel_video | file_url }}" 
                        muted 
                        playsinline>
                        </video> {% endcomment %}
                        {{ product.metafields.custom.product_reel_video.value | video_tag: autoplay: true, loop: true, muted: true, controls: false }}
                    </div>
                {% endif %}

                {% if product.metafields.custom.product_reel_video_2 %}
                    <div class="thumb">
                        {% comment %} <video 
                        src="{{ product.metafields.custom.product_reel_video_2 | file_url }}" 
                        muted 
                        playsinline>
                        </video> {% endcomment %}
                        {{ product.metafields.custom.product_reel_video_2.value | video_tag: autoplay: true, loop: true, muted: true, controls: false }}
                    </div>
                {% endif %}

                {% if product.metafields.custom.product_reel_video_3 %}
                    <div class="thumb">
                        {% comment %} <video 
                        src="{{ product.metafields.custom.product_reel_video_3 | file_url }}" 
                        muted 
                        playsinline>
                        </video> {% endcomment %}
                        {{ product.metafields.custom.product_reel_video_3.value | video_tag: autoplay: true, loop: true, muted: true, controls: false }}
                    </div>
                {% endif %}

                {% if product.metafields.custom.product_reel_video_4 %}
                    <div class="thumb">
                        {% comment %} <video 
                        src="{{ product.metafields.custom.product_reel_video_4 | file_url }}" 
                        muted 
                        playsinline>
                        </video> {% endcomment %}
                        {{ product.metafields.custom.product_reel_video_4.value | video_tag: autoplay: true, loop: true, muted: true, controls: false }}
                    </div>
                {% endif %}

            </div>
        </div>
    </div>
</section>

{% schema %}
{
  "name": "Reworked PDP grid",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "Reworked PDP grid"
    }
  ]
}
{% endschema %}
