{%- if section.settings.layout == 'box_width' -%}
  {%- assign container = 'container' -%}
{%- else -%}
  {%- assign container = 'full-width' -%}
{%- endif -%}

{% assign padding = section.settings.padding | split: '|' %}
{% assign margin = section.settings.margin | split: '|' %}

{%- style -%}
  #shopify-section-{{ section.id }} .section--sports-registration-header {
    {% if padding[0] != blank %}padding: {{ padding[0] }};{% endif %}
    {% if margin[0] != blank %}margin: {{ margin[0] }};{% endif %}
    background: {{ section.settings.bg_color }};
  }

  @media (max-width: 1199px) {
    #shopify-section-{{ section.id }} .section--sports-registration-header {
      {% if padding[1] != blank %}padding: {{ padding[1] }};{% endif %}
      {% if margin[1] != blank %}margin: {{ margin[1] }};{% endif %}
    }
  }

  @media (max-width: 991px) {
    #shopify-section-{{ section.id }} .section--sports-registration-header {
      {% if padding[2] != blank %}padding: {{ padding[2] }};{% endif %}
      {% if margin[2] != blank %}margin: {{ margin[2] }};{% endif %}
    }
  }

  @media (max-width: 767px) {
    #shopify-section-{{ section.id }} .section--sports-registration-header {
      {% if padding[3] != blank %}padding: {{ padding[3] }};{% endif %}
      {% if margin[3] != blank %}margin: {{ margin[3] }};{% endif %}
    }
  }
{%- endstyle -%}

<section class="ludic-section ludic-section-{{ section.id }} section--sports-registration-header">
  <div class="{{ container }}">
    <div class="sports_registration_header_inner">
      <div class="left_content">
        <a href="{{ shop.url }}" class="header_button">
          <img 
            src="{{ section.settings.left_logo | image_url }}" 
            alt="Ludic Star">
        </a>
        <div class="header_button">
          <img 
            src="{{ section.settings.middle_logo | image_url }}" 
            alt="Futurworks Logo">
        </div>
      </div>
      <div class="right_content">
        <img 
          src="{{ section.settings.right_logo | image_url }} 
          alt="Ludic Star Right">
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Sports Bag Header",
  "settings": [
    {
      "type": "select",
      "id": "layout",
      "options": [
        { "value": "full-width", "label": "Full Width" },
        { "value": "box_width", "label": "Box Width" }
      ],
      "label": "Layout",
      "default": "box_width"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background",
      "default": "#ffffff"
    },
    {
      "type": "text",
      "id": "padding",
      "label": "Padding",
      "default": "80px 0px 80px 0px|60px 0px 60px 0px|40px 0px 40px 0px|20px 0px 20px 0px",
      "info": "Format: desktop | 1200px | 991px | 767px"
    },
    {
      "type": "text",
      "id": "margin",
      "label": "Margin",
      "default": "0px 0px 0px 0px| | |36px 0px",
      "info": "Format: desktop | 1200px | 991px | 767px"
    },
    {
      "type": "image_picker",
      "id": "left_logo",
      "label": "Left Logo"
    },
    {
      "type": "image_picker",
      "id": "middle_logo",
      "label": "Middle Logo"
    },
    {
      "type": "image_picker",
      "id": "right_logo",
      "label": "Right Side Image"
    }
  ],
  "presets": [
    {
      "name": "Sports Bag Header",
      "category": "Custom"
    }
  ]
}
{% endschema %}
